<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa fa-ban fa-6x" aria-hidden="true"></i>
    <h1 class="display-3"> <%= msg %> </h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
  </div>
</div>

<%- include('partials/footer') %>
